
*{
    border: 0px;
    padding: 0px;
}

h1{
    background-color:coral;
    width: 1024px;
    height: 3000px;
    margin: 0px;
    padding: 10px 20px 30px 40px;

    /*short-hand
    border-width: 3px 10px ; 
    border-style: solid;
    border-color: blue;*/
    
    border: 2px solid green;
    border-bottom-color: blueviolet;

    box-sizing: border-box;/*delimita el contenido de la caja con el width y el height como valores de referencia*/
    background-image: url("../images/fondo3.png");
}

.😼{
    background-color:blueviolet;
    width: 30px;
    height: 30px;
    padding: 10px;
    color: antiquewhite;

}